[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/gv.vim"]
	path = bundle/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
